<div class="header">
    <div class="container">
        <div class="menu">
            <div class="icon-menu">
                <img src="../../assets/menuicon.png" alt="">
            </div>
        </div> 
        <div class="content">        
            <div class="ctn-title">
                <div class="logo">
                    <img src="../../assets/icon-skandia.svg" alt="">
                </div>
                <div class="pipe"></div>
                <div class="text-title"> 
                    <strong> Plan Financiero Digital - FPX </strong></div>
            </div>
            <div class="ctn-consult-options">
                <div class="finnancial-planner">
                    <img src="../../assets/Happy.svg" alt="">
                        Tu Finnancial Planner
                </div>
                <div class="contributions">
                    <img src="../../assets/hand3.svg" alt="">
                    Aportes
                </div>
                <div class="icon-comp-faq">
                    <img src="../../assets/comp faq.svg" alt="">
                </div>                
            </div>
        </div>
    </div>   
</div>
