.card {
    height: 240px;
    width: 570px;
    margin: -15px auto;
    border: 1px solid #00000029;
    border-radius: 8px;
    background-color: #FFFFFF;
    .ctn-description-goals {
        height: 77px;
        display: flex;
        justify-content: space-between;
        font-family: Verdana;
        color: #363636;
        .description-goals {
            font-size: 16px;
            margin-left: 40px;
            display: flex;
            flex-direction: column;
            >h4 {
                margin-bottom: 2px;
            }
            >h6 {
                margin-top: 0;
            }
        }
        .review-goals {
            margin: 25px 40px;
            font-size: 14px;
            font-weight: bold;
            color: #00C83C;
            text-decoration: underline;
        }
    }
    .ctn-values-goals {
        height: 60px;
        display: flex;
        justify-content: space-between;
        margin: 0 25px;
        border-color: #FECD72;
        .ctn-date {
            width: 277px;
            color: #363636; 
            font-family:  verdana;
            font-size: 14px;
            .text {
                width: 105px;
                margin: 2px auto;
            }
            .value {
                width: 135px;
                margin: 5px auto;
                background-color: #A5D7E1;
                border-radius: 5px;
                padding: 3px;
                text-align: center;
            }
        }
        .ctn-achievement {
            height: 77px;
            width: 277px;
            color: #363636; 
            font-family:  verdana;
            font-size: 14px;
            .text {
                width: 75px;
                margin: 2px auto;
            }
            .value {
                width: 135px;
                margin: 5px auto;
                background-color: #FECD72;
                border-radius: 5px;
                padding: 3px;
                text-align: center;
            }
        }
        .ctn-account {
            height: 77px;
            width: 277px;
            color: #363636; 
            font-family:  verdana;
            font-size: 14px;
            .text {
                width: 130px;
                margin: 2px auto;
            }
            .value {
                width: 135px;
                margin: 5px auto;
                background-color: #95DBB7;
                border-radius: 5px;
                padding: 3px;
                text-align: center;
            }
        }
    }
    .ctn-associate-product {
        height: 100px;
        display: flex;
        .ctn-label {
            width: 456px;
            height: 20px;
            margin: auto 35px;
            font-family: Verdana;
            font-size: 12px;
            font-weight: bold;
            color: #00C83C;
            text-decoration: underline;
            >img {
                margin-right: 5px;
            }
        }
        .ctn-image {
            >img {
                width: 114px;
                height: 103px;
            }
        }
    }
}