<app-header></app-header>
<div class="body">
    <div class="banner">
        <div class="ctn-start">
            <div class="start">
                <img src="../../assets/home.svg" alt="">
                <p>Ir al inicio</p>
            </div>
        </div>
        <div class="ctn-title">
            <div class="title"> <strong>¡Tu objetivo ha sido agregado exitosamente! </strong> </div>
            <div class="subtitle"> ¡Te hemos enviado un correo con la notificación! </div>
        </div>
    </div>
    <div class="card">
        <div class="ctn-card-text">
            <div class="card-title">
                <h4><strong>Conocer mi sobrino</strong></h4>
                <h6>Categoría: Bienestar</h6>
            </div>
            <div class="card-goals"> Revisar objetivo </div>
        </div>
        <div class="ctn-card-buttons">
            <div class="ctn-date">
                <div class="text">En esta fecha:</div>
                <div class="button"><strong>Diciembre/2022</strong></div>
            </div>
            <div class="ctn-achievement">
                <div class="text">Lograrás:</div>
                <div class="button"><strong>$6.000.000</strong></div>
            </div>
            <div class="ctn-account">
                <div class="text">
                    <img src="../../assets/Icon awesome-star.svg" alt="">
                    Ya cuentas con:
                </div>
                <div class="button"><strong>$0</strong></div>
            </div>
        </div>
        <div class="ctn-progress">
            <div class="ctn-text">
                <img src="../../assets/Icon awesome-check-circle.svg" alt="">
                ¡Asocia productos para monitorear su progreso!
            </div>
            <div class="ctn-image">
                <img src="../../assets/Mask Group 19.png" alt="notFound">
            </div>
        </div>
    </div>
    <div class="ctn-description">
        <div class="description">
            <div class="title-des">
                <strong>¡Vamos por esos <font color="#FE9200">$6.000.000 </font> para 
                    <font color="#FE9200">Conocer mi sobrino </font> !
                </strong>
            </div>
            <div class="subtitle-des">
                ¡A través de tus productos y nuestros rendimientos podremos lograrlo! <br>
                <div class="new-product">
                    <strong>Asocia tus productos o adquiere uno nuevo. </strong>
                    <img src="../../assets/Group 12953.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-footer">

</div>
<app-footer></app-footer>
