<app-header></app-header>
<div class="body">
    <div class="banner">
        <div class="banner-background">
            <div class="ctn-start">
                <div class="start">
                    <img src="../../assets/home.svg" alt="">
                    <p>Ir al inicio</p>
                </div>
            </div>
            <div class="ctn-title">
                <div class="title"> <strong>¡Tu objetivo ha sido agregado exitosamente! </strong> </div>
                <div class="subtitle"> ¡Te hemos enviado un correo con la notificación! </div>
            </div>
        </div>
    </div>
    <app-card-goals></app-card-goals>
    <div class="ctn-description">
        <div class="description">
            <div class="title-des">
                <strong>¡Vamos por esos <font color="#FE9200">$6.000.000 </font> para 
                    <font color="#FE9200">Conocer mi sobrino </font> !
                </strong>
            </div>
            <div class="subtitle-des">
                ¡A través de tus productos y nuestros rendimientos podremos lograrlo! <br>
                <div class="new-product">
                    <strong>Asocia tus productos o adquiere uno nuevo. </strong>
                    <img src="../../assets/Group 12953.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="body-footer">
        <div class="ctn-cards-api"></div>
        <div class="ctn-button">
            <div class="button">
                ASOCIAR A OBJETIVO
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
